
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: elfmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: ElfMachineTemplate
    listKind: ElfMachineTemplateList
    plural: elfmachinetemplates
    singular: elfmachinetemplate
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: ElfMachineTemplate is the Schema for the elfmachinetemplates
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ElfMachineTemplateSpec defines the desired state of ElfMachineTemplate
            properties:
              template:
                description: ElfMachineTemplateResource describes the data needed
                  to create a ElfMachine from a template
                properties:
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      auto_schedule:
                        type: boolean
                      diskGiB:
                        format: int32
                        type: integer
                      failureDomain:
                        description: FailureDomain is the failure domain unique identifier
                          this Machine should be attached to, as defined in Cluster
                          API. For this infrastructure provider, the name is equivalent
                          to the name of the ElfDeploymentZone.
                        type: string
                      ha:
                        type: boolean
                      memoryMiB:
                        format: int64
                        type: integer
                      network:
                        description: Network is the network configuration for this
                          machin's VM.
                        properties:
                          devices:
                            description: Devices is the list of network devices used
                              by the virtual machine.
                            items:
                              description: NetworkDeviceSpec defines the network configuration
                                for a virtual machine's network device.
                              properties:
                                gateway:
                                  description: Gateway4 is the IPv4 gateway used by
                                    this device. Required when DHCP4 is false.
                                  type: string
                                ipAddrs:
                                  description: IPAddrs is a list of one or more IPv4
                                    and/or IPv6 addresses to assign to this device.
                                    Required when DHCP4 and DHCP6 are both false.
                                  type: string
                                netmask:
                                  type: string
                                networkIndex:
                                  type: integer
                                networkType:
                                  type: string
                              required:
                              - networkIndex
                              - networkType
                              type: object
                            type: array
                          preferredAPIServerCidr:
                            description: PreferredAPIServeCIDR is the preferred CIDR
                              for the Kubernetes API server endpoint on this machine
                            type: string
                        required:
                        - devices
                        type: object
                      numCPUS:
                        description: NumCPUS is the number of virtual processors in
                          a VM. Defaults to the analogue property value in the template
                          from which this machine is cloned.
                        format: int32
                        type: integer
                      numCoresPerSocket:
                        description: NumCoresPerSocket is the number of cores among
                          which to distribute CPUs in this VM.
                        format: int32
                        type: integer
                      providerID:
                        description: ProviderID is the virtual machine's UUID formatted
                          as elf://f0f6f65d-0786-4170-9ab9-d02187a61ad6
                        type: string
                      template:
                        description: Template is the name or UUID of the template
                          used to clone new machines.
                        type: string
                    required:
                    - template
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
