---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: elfmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: ElfMachine
    listKind: ElfMachineList
    plural: elfmachines
    singular: elfmachine
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: ElfMachine ready status
      jsonPath: .status.ready
      name: Ready
      type: string
    - description: ElfMachine instance ID
      jsonPath: .spec.providerID
      name: ProviderID
      type: string
    - description: IP address of the first network device of the virtual machine
      jsonPath: .status.addresses[0].address
      name: IP
      type: string
    - description: Name of host server where the virtual machine runs on
      jsonPath: .status.hostServerName
      name: HOST
      type: string
    - description: Machine object which owns with this ElfMachine
      jsonPath: .metadata.ownerReferences[?(@.kind=="Machine")].name
      name: Machine
      type: string
    - description: Time duration since creation of ElfMachine
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: ElfMachine is the Schema for the elfmachines API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ElfMachineSpec defines the desired state of ElfMachine.
            properties:
              cloneMode:
                description: CloneMode is the type of clone operation used to clone
                  a VM from a template.
                type: string
              diskGiB:
                format: int32
                type: integer
              failureDomain:
                description: FailureDomain is the failure domain unique identifier
                  this Machine should be attached to, as defined in Cluster API. For
                  this infrastructure provider, the name is equivalent to the name
                  of the ElfDeploymentZone.
                type: string
              ha:
                type: boolean
              host:
                description: Host is a unique identifier for a ELF host. Required
                  when cloneMode is FullClone. Defaults to AUTO_SCHEDULE.
                type: string
              memoryMiB:
                format: int64
                type: integer
              network:
                description: Network is the network configuration for this machin's
                  VM.
                properties:
                  devices:
                    description: Devices is the list of network devices used by the
                      virtual machine.
                    items:
                      description: NetworkDeviceSpec defines the network configuration
                        for a virtual machine's network device.
                      properties:
                        ipAddrs:
                          description: IPAddrs is a list of one or more IPv4 and/or
                            IPv6 addresses to assign to this device. Required when
                            DHCP4 and DHCP6 are both false.
                          items:
                            type: string
                          type: array
                        macAddr:
                          description: MACAddr is the MAC address used by this device.
                            It is generally a good idea to omit this field and allow
                            a MAC address to be generated.
                          type: string
                        netmask:
                          description: Netmask is the subnet mask used by this device.
                            Required when DHCP4 is false.
                          type: string
                        networkType:
                          description: NetworkType is the VM network type.
                          type: string
                        routes:
                          description: Required when DHCP4 is false.
                          items:
                            description: NetworkDeviceRouteSpec defines the network
                              configuration for a virtual machine's network device
                              route.
                            properties:
                              gateway:
                                description: Gateway is the IPv4 gateway used by this
                                  route.
                                type: string
                              netmask:
                                description: Netmask is the subnet mask used by this
                                  route.
                                type: string
                              network:
                                description: Network is the route network address.
                                type: string
                            type: object
                          type: array
                        vlan:
                          description: Vlan is the virtual LAN used by the virtual
                            machine.
                          type: string
                      required:
                      - networkType
                      type: object
                    type: array
                  nameservers:
                    description: Nameservers is a list of IPv4 and/or IPv6 addresses
                      used as DNS nameservers. Please note that Linux allows only
                      three nameservers (https://linux.die.net/man/5/resolv.conf).
                    items:
                      type: string
                    type: array
                  preferredAPIServerCidr:
                    description: PreferredAPIServeCIDR is the preferred CIDR for the
                      Kubernetes API server endpoint on this machine
                    type: string
                required:
                - devices
                type: object
              numCPUS:
                description: NumCPUs is the number of virtual processors in a VM.
                  Defaults to the analogue property value in the template from which
                  this machine is cloned.
                format: int32
                type: integer
              numCoresPerSocket:
                description: NumCoresPerSocket is the number of cores among which
                  to distribute CPUs in this VM.
                format: int32
                type: integer
              osType:
                default: LINUX
                description: OSType is the operation system type of the virtual machine.
                enum:
                - LINUX
                - WINDOWS
                type: string
              providerID:
                description: ProviderID is the virtual machine's UUID formatted as
                  elf://f0f6f65d-0786-4170-9ab9-d02187a61ad6
                type: string
              template:
                description: Template is the name or ID of the template used to clone
                  new machines.
                type: string
            required:
            - template
            type: object
          status:
            description: ElfMachineStatus defines the observed state of ElfMachine.
            properties:
              addresses:
                description: Addresses contains the Elf instance associated addresses.
                items:
                  description: MachineAddress contains information for the node's
                    address.
                  properties:
                    address:
                      description: The machine address.
                      type: string
                    type:
                      description: Machine address type, one of Hostname, ExternalIP,
                        InternalIP, ExternalDNS or InternalDNS.
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              conditions:
                description: Conditions defines current service state of the ElfMachine.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                description: "FailureMessage will be set in the event that there is
                  a terminal problem reconciling the Machine and will contain a more
                  verbose string suitable for logging and human consumption. \n This
                  field should not be set for transitive errors that a controller
                  faces that are expected to be fixed automatically over time (like
                  service outages), but instead indicate that something is fundamentally
                  wrong with the Machine's spec or the configuration of the controller,
                  and that manual intervention is required. Examples of terminal errors
                  would be invalid combinations of settings in the spec, values that
                  are unsupported by the controller, or the responsible controller
                  itself being critically misconfigured. \n Any transient errors that
                  occur during the reconciliation of Machines can be added as events
                  to the Machine object and/or logged in the controller's output."
                type: string
              failureReason:
                description: "FailureReason will be set in the event that there is
                  a terminal problem reconciling the Machine and will contain a succinct
                  value suitable for machine interpretation. \n This field should
                  not be set for transitive errors that a controller faces that are
                  expected to be fixed automatically over time (like service outages),
                  but instead indicate that something is fundamentally wrong with
                  the Machine's spec or the configuration of the controller, and that
                  manual intervention is required. Examples of terminal errors would
                  be invalid combinations of settings in the spec, values that are
                  unsupported by the controller, or the responsible controller itself
                  being critically misconfigured. \n Any transient errors that occur
                  during the reconciliation of Machines can be added as events to
                  the Machine object and/or logged in the controller's output."
                type: string
              hostServerName:
                description: HostServerName is the name of host server where the virtual
                  machine runs on. This value is set automatically at runtime and
                  should not be set or modified by users.
                type: string
              hostServerRef:
                description: HostServerRef is the Tower ID of host server where the
                  virtual machine runs on. This value is set automatically at runtime
                  and should not be set or modified by users.
                type: string
              network:
                description: Network returns the network status for each of the machine's
                  configured network interfaces.
                items:
                  description: NetworkStatus provides information about one of a VM's
                    networks.
                  properties:
                    connected:
                      description: Connected is a flag that indicates whether this
                        network is currently connected to the VM.
                      type: boolean
                    ipAddrs:
                      description: IPAddrs is one or more IP addresses reported by
                        vm-tools.
                      items:
                        type: string
                      type: array
                    macAddr:
                      description: MACAddr is the MAC address of the network device.
                      type: string
                    networkName:
                      description: NetworkName is the name of the network.
                      type: string
                  required:
                  - macAddr
                  type: object
                type: array
              ready:
                description: Ready is true when the provider resource is ready.
                type: boolean
              taskRef:
                description: TaskRef is a managed object reference to a Task related
                  to the machine. This value is set automatically at runtime and should
                  not be set or modified by users.
                type: string
              vmRef:
                description: VMRef is used to lookup the VM. This value is set automatically
                  at runtime and should not be set or modified by users.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
