name: build

on:
  push:
    branches:
      - main
      - master
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - master
      - release-*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - run: make lint

      - run: make test

      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
