name: build

on:
  push:
    branches:
      - main
      - master
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - master
      - release-*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.44.2

      - run: make test

      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
